#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.v-box {
  background-color: 1px solid #cccccc86;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
}

.vm-list {
  display: flex;
  flex-wrap: wrap; /* Opcional: permite que pasen a la siguiente línea si no caben */
  gap: 16px; /* Espacio entre las cajas */
  justify-content: center; /* Opcional: centra horizontalmente */
}

.console { 
  background: #000;
  color: rgb(255, 255, 255);
  padding: 1rem; 
  height: 300px; 
  overflow: auto; 
  text-align: left; /* Alinea el texto a la izquierda */
  white-space: pre-wrap; /* Permite que el texto se ajuste y haga saltos de línea */
  word-wrap: break-word; /* Rompe palabras largas si es necesario */
}

.version-info {
  color: #888;
  font-size: 0.5em;
  position: absolute;
  top: 1rem;
  left: 1rem;
  margin: 0;
  text-align: left;
}
